/* CardNews.css */

.card-news {
  background-image: url("/asset/group001.png");
  width: 335px;
  height: 334px;
  flex-shrink: 0;
  text-align: center;
  padding-top: 24px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.executive-thumbnail {
  width: 119px;
  height: 119px;
  flex-shrink: 0;
  margin-bottom: 19px;
}

#cardname {
  font-family: Pretendard-ExtraBold;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.card-news p {
  margin-bottom: 8px;
  text-align: center;
  font-family: Pretendard-ExtraLight;
  font-size: 13px;
  font-style: normal;
  line-height: normal;
  width: 292px;
}
