@font-face {
    font-family: "PayToneOne";
    src: url("C:\Users\choeu\OneDrive\바탕 화면\Ao\aoapp\src\fonts\AnyConv.com__PaytoneOne-Regular.woff") format("woff");
}
@font-face {
    font-family: "Noto Sans KR";
    font-style: normal;
    font-weight: normal;
    src: url("C:\Users\choeu\OneDrive\바탕 화면\Ao\aoapp\src\fonts\AnyConv.com__NotoSansKR-Regular.woff") format("woff");
  }
  