@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "PaytoneOne";
  src: url("./fonts/AnyConv.com__PaytoneOne-Regular.woff") format("woff");
}
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: normal;
  src: url("./fonts/AnyConv.com__NotoSansKR-Regular.woff") format("woff");
}
@font-face {
  font-family: Pretendard-ExtraBold;
  src: url("./fonts/Pretendard-ExtraBold.woff") format("woff");
}
@font-face {
  font-family: Pretendard-ExtraLight;
  src: url("./fonts/Pretendard-ExtraLight.woff") format("woff");
}
@font-face {
  font-family: Pretendard-Light;
  src: url("./fonts/Pretendard-Light.woff") format("woff");
}